body {
  font-family: 'Libre Baskerville', serif; }

a {
  color: black; }

@media screen and (min-width: 750px) {
  .header-container {
    display: flex;
    justify-content: center; }

  .header-item {
    padding: 5px; }

  main {
    margin: 10px;
    display: flex;
    justify-content: center; }

  .blog-wrapper {
    max-width: 50%; } }
@media screen and (max-width: 750px) {
  .header-container {
    display: flex;
    justify-content: center; }

  .header-item {
    padding: 5px; }

  main {
    margin: 10px;
    display: flex;
    justify-content: center; }

  .blog-wrapper {
    max-width: 95%; }

  .selfie {
    display: none; }

  hr {
    display: none; } }
code {
  font-family: "Roboto Mono";
  font-size: 11px; }

pre {
  overflow: hidden; }
